<form action="/publications/query" method="get">
	<input id="query" type="text" name="query" value="">
	<select>
		<option value="'Autos, Motos y Otros'">'Autos, Motos y Otros'</option>
		<option value="saab">Saab</option>
		<option value="opel">Opel</option>
		<option value="audi">Audi</option>
	</select>

	<input type="submit" value="Buscar">
</form>